<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Genesis Behat Fail Aid">
            <directory>./bootstrap</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">../vendor</directory>
        </blacklist>
    </filter>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="On" />
    </php>
</phpunit>